*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: #2B3A8C;
    font-family: "Roboto", sans-serif;
}

body{
    background: url('src/assets/imgs/background.jpg') no-repeat center center fixed;
}